{% extends "home-base.html" %}

{% block head %}
{{super()}}


{% endblock %}


{% block title %}
home
{% endblock %}

{% block page_content %}
<h1>this is form-demo</h1>
{% if first_name %}
    <h3>Hello {{first_name}}</h3>
{% else %}
    <h3>Hey</h3>
{% endif %}
<h4>This is the GET form</h4>
<form action="/form-demo" method="get">
What's your name?
<input type="text" name="first_name" value=""><br><br>
<input type="submit" name="" value="Submit">
</form>

<h4>This is the POST form</h4>
<form action="/form-demo" method="post">
What's your name?
<input type="text" name="first_name" value=""><br><br>
<input type="submit" name="" value="Submit">
</form>
{% endblock%}
