{% extends "home-base.html" %}


{% block title %}
Add Aritists
{% endblock %}

{% block page_content %}
<h1>use the form to add a song</h1>
<form action="/song/add" method="post">
  <label>Song name</label>
<input type="text" name="name" value=""><br><br>
<label>Song year</label>
<input type="text" name="year" value=""><br><br>
<label>lyrics</label>
<input type="text" name="lyrics" value=""><br><br>
<label>Artist Name</label>
<input type="submit" name="" value="Add Song">
</form>
{% endblock%}
